* {
  box-sizing: border-box;
}
nav {
  background: linear-gradient(#FAFAFA, #DFDFDF);
  height: 100px;
}
nav img {
  margin-left: 70px;
}
nav button span {
  background: #0c5460;
}
nav ul {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  padding: 0;
}
nav ul li {
  margin: 0;
  padding: 20px;
  text-align: center;
  width: 22%;
}
nav ul li:hover {
  background: linear-gradient(#F8F8F8, #D5C2AE);
  border-bottom: 4px solid #FD6900;
  cursor: pointer;
  text-decoration: none;
}
nav ul li i {
  font-size: 20px;
  padding-top: 15px;
}
nav ul li a {
  text-decoration: none;
  color: #1b1e21;
}
.container .row .search-bar {
  margin-top: 30px;
}
.container .row .search-bar h1 {
  font-size: 33px;
}
.container .row .search-bar .custom-file {
  width: 65%;
}
.container .row .search-bar .custom-file .custom-file-label {
  height: 50px;
  padding: 12px;
  color: #dbe5ef;
}
.container .row .search-bar .custom-file .custom-file-label:after {
  margin: 5px;
  border: none;
  padding: .375rem 1.25rem;
  background: #C1BEBE;
  color: white;
  font-weight: lighter;
  border-radius: 5px;
}
.container .row .search-bar .btn-group {
  margin-top: 18px;
  color: white;
}
.container .row .search-bar .btn-group .btn {
  background: linear-gradient(#FD9B00, #FD6900);
  padding: 11px 35px;
}
.container .image {
  margin-top: 50px;
}
.container .image .block {
  border: 1px solid #adb5bd;
  margin: 15px 0;
  padding: 7px 7px 0;
  box-shadow: 0 0 6px 0 gray;
}
.container .image .block:hover:after {
  content: url("../image/loop.png");
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 105px;
  left: 105px;
}
.container .image .block .img-responsive {
  width: 100%;
}
.container .image .block .data {
  color: #d9d9d9;
  position: relative;
  top: -30px;
  left: 10px;
}
.container .image .block div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  padding: 0 5px 10px 20px;
  color: #B1ADAD;
  border-bottom: 1px solid #ADB5BD;
}
.container .image .block div:nth-of-type(1) h6 {
  padding-right: 5px;
  font-size: 15px;
}
.container .image .block div:nth-of-type(1) span {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FD9B00;
  color: white;
}
.container .image .block div:nth-of-type(1) span:after {
  content: "\2605";
  display: inline-block;
  position: relative;
  left: 5px;
  font-size: 17px;
}
.container .image .block div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding: 0 3px 0 7px;
}
.container .image .block div:nth-of-type(2) p {
  padding: 0 5px 0 30px;
  color: #B1ADAD;
}
.container .image .block div:nth-of-type(2) span {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #938f8f;
  background: #B1ADAD;
}
.container .image .block div:nth-of-type(2) span i:before {
  color: white;
  padding-left: 5px;
}
.container .image .block div:nth-of-type(2) span:nth-of-type(1):hover {
  background: #58ebff;
}
.container .image .block div:nth-of-type(2) span:nth-of-type(2):hover {
  background: #2f25ff;
}
.container .image .block div:nth-of-type(2) span:nth-of-type(3):hover {
  background: #ff3824;
}
.container .image .block div:nth-of-type(2) span:nth-of-type(4):hover {
  background: #4570a9;
}
.container .image .copyright {
  margin-left: auto;
  width: 400px;
  display: flex;
}
.container .image .copyright:before {
  content: "\00A9";
  display: inline-block;
  position: relative;
  left: -5px;
}
/*# sourceMappingURL=style.css.map */