@path: "../image";
* {
    box-sizing: border-box;
}

nav {
    background: linear-gradient(#FAFAFA, #DFDFDF);
    height: 100px;
    img {
        margin-left: 70px;
    }
    ul {
        list-style-type: none;
        display: flex;
        margin-left: auto;
        li {
            margin: 10px 30px;
            text-align: center;
            width: 12%;
            i {
                font-size: 20px;
                padding-top: 15px;
            }
            a {
                text-decoration: none;
                color: #1b1e21;
            }
        }
    }
}